---
import Welcome from '../components/Welcome.astro';
import CommonLayout from '../layouts/CommonLayout.astro';
---

<CommonLayout title="Home">
	<section slot="header">
		<h1>Header. this will be a component</h1>
	</section>
	<Fragment slot="body">
		<section>First home page content (carousel or anything that shows the most important features)</section>
		<section>Search section</section>
		<section>Free services by inexperienced persons</section>
		<Welcome /> // Example of component. Remove later
	</Fragment>
	<section slot="footer">
		<p>Footer. this will be a component</p>
	</section>
</CommonLayout>
