---
import CommonLayout from '../layouts/CommonLayout.astro';
import SearchSection from '../components/home/SearchSection/SearchSection.astro';
---

<CommonLayout title="Home">
	<section slot="header">
		<h1>Header. this will be a component</h1>
	</section>
	<Fragment slot="body">
		<SearchSection />
	</Fragment>
	<section slot="footer">
		<p>Footer. this will be a component</p>
	</section>
</CommonLayout>
