---
import astroLogo from './../../assets/astro.svg';
---

<section class="search-section">
    <div class="search-icons-container">
        <div class="search-icon">
            <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
            <span class="search-icon-label">Service 1</span>
        </div>
        <div class="search-icon">
            <img class="search-icon-image" src={astroLogo.src} alt="Service icon"/>
            <span class="search-icon-label">Service 2</span>
        </div>
    </div>
    <div class="search-bar-container">
        <input class="search-bar-input" type="text" placeholder="Search.." />
        <button class="search-bar-button">Search</button>
    </div>
</section>

<style>
	.search-section {
        position: relative;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 60vh;
        width: 100%;
        .search-icons-container {
            position: absolute;
            width: 100%;
            height: 100%;
            .search-icon {
                border: var(--border-width-thin) solid var(--secondary-color);
                width: min-content;
                padding: var(--spacing-sm) var(--spacing-md);
                .search-icon-image {
                    object-fit: cover;
                    width: var(--img-lg);
                    height: auto;
                }
            }
        }
        .search-bar-container {
            position: relative;
            z-index: 1;
            .search-bar-input {

            }
        }
    }
</style>
